@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;

}
pre {
    font-size: 7em;
}
#root {
    margin: 0 2em;

}
.tick line {
  stroke: #c0c0bb;
  fill: #c0c0bb;
}
.border {
  stroke: #c0c0bb;
  stroke-width: 1;
}
text {
    font-family: 'Poppins', sans-serif;
}
.axisleft text {
    fill: #635F5D;

}
.axisLeftLine {
    stroke:#c0c0bb;
    stroke-width: 1;
}
.tick text {
    fill: #8E8883;
}
.marks circle {
    fill: #137B80;
}
.marks path {
    fill: none;
    stroke: #137B80;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
}
.axis-label {
    fill: #635F5D;
    font-size: 1.25em;
}
.title {
    fill: #635F5D;
    font-size:1.75em;
}
svg {
    margin-top: 3rem;
}